click==8.0.4
distlib==0.3.6
filelock==3.8.0
Flask==2.2.2
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.24.3
packaging==23.0
Pillow==9.4.0
pipenv==2022.11.30
platformdirs==2.5.4
pyocr==0.8.3
pytesseract==0.3.10
virtualenv==20.17.0
virtualenv-clone==0.5.7
Werkzeug==2.2.3